@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
  height: 80%;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #434343;
}

@font-face {
  font-family: "lexend-mega";
  src: url("./assets/fonts/lexend-mega.ttf");
}
@font-face {
  font-family: "public-sans";
  src: url("./assets/fonts/public-sans.ttf");
}

:root {
  font-family: "public-sans", "lexend-mega";
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

/* react big calendar custom styling below */
  .rbc-event {
    background-color: #2e6f40;
    border-radius: 0px;
    border: 1px solid black;
  }
  
  .rbc-toolbar button {
    background: #FFDC58;
    margin: 4px;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 0px 0px #000;
    outline: none;
    border: solid;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    border: 1px solid black;
  }

  .rbc-toolbar button.rbc-active {
    background: #FFF8E1;
    border: 1px solid black;
    box-shadow: none;
  }

  .rbc-toolbar button:hover {
    box-shadow: none;
    transform: translate(4px, 4px);
  }

  .rbc-toolbar button:active {
    background: #FFDC58;
    border: 1px solid black;
    transform: translate(6px, 6px);
  }

  .rbc-toolbar button.rbc-active:hover {
    transform: translate(0px, 0px)
  }

  .rbc-toolbar button.rbc-active:active {
    background: #FFF8E1;
    transform: translate(2px, 2px)
  }

  .rbc-toolbar .rbc-toolbar-label {
    font-size: 16px;
    font-weight: 600;
  }

  .rbc-header {
    margin-bottom: 3px;
  }

  .rbc-day-slot .rbc-time-column {
    border: 1px solid black;
  }
}

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}

.S9gUrf-YoZ4jf {
  outline: 1px solid black;
  border-radius: 1.5rem;
  box-shadow: 3px 3px 0px 0px #000;
  rotate: 3deg;
  background-color: white;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  &:hover {
    box-shadow: none;
    transform: translate(2px, 2px);
  }
  
  &:focus {
    box-shadow: none;
    transform: translate(2px, 2px);
  }
}


body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: normal start;
  min-height: 100vh;
  background-size: 60px 60px;
  background-color: #ffdb58;
  background-image: linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
}

h1 {
  font-family: "lexend-mega";
  font-size: 1.5em;
  line-height: 1.1;
}

h2 {
  font-family: "lexend-mega";
  font-size: 1.5em;
  line-height: 1.1;
}

p {
  font-family: "public-sans";
  font-size: 1em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
}

button:focus,
button:focus-visible {
  outline: 4px solid black;

}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  
  button {
    background-color: #f9f9f9;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 47.07 100% 67.25%;
    --primary-foreground: 0 0% 98%;
    --secondary: 46 100% 94.12%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 11.04 100% 68.04%;
    --destructive-foreground: 0 0% 98%;
    --affirmative: 120 73.44% 74.9%;
    --border: 0 0% 0%;
    --input: 240 5.9% 90%;
    --ring: 0 0% 0%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 98%;
    --card: 0 0% 0%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border:  0 0% 0%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
